<!doctype html>
<html>
  <head>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/socket.io-client/socket.io.js"></script>
		<title><%= username %>::Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 2px;  bottom:0; width: 600; }
      form input { border: 0; padding: 10px; width: 480px; margin-right: 120;  top:400px; }
      form button { width: 110px; background: rgb(130, 224, 255); border: none; padding: 10px; }
			.main{width:600px; height:600px; margin:0 auto;border:solid 3px #00cc00;overflow-y:scroll;
				overflow:auto;max-height:400px;position:relative;}
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
	<a id="btnLogout" href="javascript:logout()">Logout</a><br>
	<div id="logoutresult"></div>
		<div class="main" id="maindiv">
    <ul id="messages"></ul>
	</div>
	<div class="" style="margin:0 auto;width:600px;">
    <form action="#">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
	</div>
		<script>
		
			setInterval(function(){
			var e = document.getElementById('maindiv');
			e.scrollTop = e.scrollHeight;
			},200);

			var socket = io();
			
			// tell server my name
			socket.emit('tellname','<%= username %>');

			var color;
			$('form').submit(function(){
				socket.emit('chat message',{username:'<%= username %>',msg:$('#m').val()});
				$('#m').val('');
				return false;
			});
			socket.on('user disconnect',function(){
				$('#messages').append($('<li style="background-color:red">').text('someone exit'));
			});

			socket.on('err',function(msg){
					alert('error:'+msg);
			});

			socket.on('color',function(cl){
				color = cl;
			});
			socket.on('chat message',function(obj){
					var username = obj.username;
					var msg = obj.msg;
					var color = obj.color
					var now = new Date;
					var strTime = now.getHours() +':'+ now.getMinutes() +':'+ now.getSeconds()
					if(username == '<%= username %>'){
						$('#messages').append($('<li>').text(username+' says:'+msg + ' ' + strTime).css({color:color,'text-align':"right"}));
					}else{
						$('#messages').append($('<li>').text(username+' says:'+msg+' '+strTime).css({color:color}));
					}
			});
		</script>

		<script src="./logout.js"></script>
  </body>
</html>
